.page-title{
   font-family: 'Montez', cursive;
   font-size: 30px;
   color: rgb(67, 65, 175);
   font-weight: bold;
   margin : 1px;
}

.sub-heading{
 font-family: 'Ubuntu Mono', monospace;
 color: rgb(0, 0, 3);
 

}

.header {
   display: flex;
   flex-direction: row;  
}

.title-page{
   width : 90%;
}

.modal-sign-in-container{    
   border-left: 10px solid white;
   border-right: 10px solid white;
}

.btn-sign-in-up {
   background-color: rgb(14, 94, 243);
   color: white;
   padding: 10px;
   margin : 8px;
   cursor: pointer;
   border-radius: 2px;
   font-weight: 500;
   font-size: 90%;
   width : 80px;
   height: 50px;

}

.modal-footer-in {
   text-align : center;
   justify-content: space-between;
   margin: 10px;  
}